
@model PagedList.IPagedList<DoAnChuyenNganh.Models.EF.HinhAnhTinTuc>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách hình ảnh tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section naviheader
{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/hinhanhtintucs" class="nav-link">Ảnh tin tức</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý ảnh tin tức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Ảnh tin tức</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Danh sách ảnh tin tức</h3>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
            <!-- Form tìm kiếm bên trái -->
            <form method="get" action="@Url.Action("Index")" class="form-inline">
                <input type="text" name="tim" value="@ViewBag.CurrentFilter"
                       class="form-control mr-2" style="width:350px;" placeholder="Nhập tiêu đề tin tức" />
                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            </form>

            <!-- Nút bên phải -->
            <div class="ml-auto">
                <a href="/admin/hinhanhtintucs/create" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa</a>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!--Chọn tất cả bản ghi-->
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().TinTuc.TieuDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Url)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    // Lấy vị trí bắt đầu của STT cho trang hiện tại
                    int stt = (Model.PageNumber - 1) * Model.PageSize + 1;
                }
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" class="cbkItem" value="@item.HinhAnhId" /></td>
                                <td>@stt</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TinTuc.TieuDe)
                                </td>
                                <td>
                                    <img src="@item.Url" alt="Ảnh tin tức" style="width:100px; height:auto;" />
                                    @*@Html.DisplayFor(modelItem => item.Url)*@
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.HinhAnhId})" class="btn btn-primary">Sửa</a>
                                    <a href="@Url.Action("Details", new { id = item.HinhAnhId })" class="btn btn-dark">Chi tiết</a>
                                    <a href="@Url.Action("Delete", new { id = item.HinhAnhId })" class="btn btn-danger">Xóa</a>

                                </td>
                            </tr>
                            stt++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" style="text-align:center">Không có bản ghi nào</td>
                        </tr>

                    }
                </tbody>
            </table>
            <br />
            <div class="row">
                <div class="col-12 text-center" style="margin-bottom:8px; font-weight:bold;">
                    Trang @(Model.PageNumber) / @(Model.PageCount)
                    @*<br />*@
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts{
    <script>
        $(document).ready(function () {
            // Chọn tất cả
            $('#SelectAll').click(function () {
                $('.cbkItem').prop('checked', this.checked);
            });

            // Xóa nhiều
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var ids = [];
                $('.card-body').find('tr td input.cbkItem:checked').each(function () {
                    ids.push($(this).val());
                });

                if (ids.length === 0) {
                    alert("Vui lòng chọn ít nhất một mục ảnh tin tức.");
                    return;
                }

                if (confirm("Bạn có chắc chắn muốn xóa các ảnh tin tức đã chọn?")) {
                    $.ajax({
                        url: '/Admin/HInhAnhTinTucs/DeleteAll',
                        type: 'POST',
                        data: { ids: ids.join(",") },
                        success: function (rs) {
                            if (rs.success) {
                                alert(rs.message);
                                location.reload();
                            } else {
                                alert(rs.message);
                            }
                        }
                    });
                }
            });
        });
    </script>
}