@model DoAnChuyenNganh.Models.EF.AnhSanPham

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section naviheader
{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/anhsanphams" class="nav-link">Ảnh sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết ảnh sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/anhsanphams/">Ảnh sản phẩm</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin chi tiết ảnh sản phẩm</h3>

        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SanPham.MaSanPham)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SanPham.MaSanPham)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Url)
                    </dt>

                    <dd>
                        <img src="@Model.Url" alt="Ảnh sản phẩm" style="max-height:200px; border:1px solid #ddd; padding:4px;" />
                        <br />
                        @Html.DisplayFor(model => model.Url)
                    </dd>
                    <dt>Biến thể áp dụng</dt>
                    <dd>
                        @if (Model.AnhSanPham_BienThes != null && Model.AnhSanPham_BienThes.Any())
                        {
                            <ul>
                                @foreach (var bt in Model.AnhSanPham_BienThes)
                                {
                                    <li>@bt.BienTheSanPham.SKU</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span class="text-muted">Không có</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ThuTu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ThuTu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MacDinh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MacDinh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>

                </dl>
            </div>
            <a href="@Url.Action("Edit", new { id = Model.AnhSanPhamId })" class="btn btn-primary">Sửa</a>
            <a href="@Url.Action("Index")" class="btn btn-dark">Quay lại</a>
        </div>
    </div>
</section>

