@model DoAnChuyenNganh.Models.EF.DanhMuc

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@section naviheader
{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/danhmucs" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết danh mục sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/danhmucs/">Danh mục</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin sửa danh mục</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <dl class="dl-horizontal">
                    <dt>
                        Danh mục cha
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DanhMuc2.TenDanhMuc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenDanhMuc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenDanhMuc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Slug)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Slug)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.Raw(Model.MoTa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrangThai)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrangThai)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayTao)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayTao)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayCapNhat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayCapNhat)
                    </dd>

                </dl>
            </div>
            <a href="@Url.Action("Edit", new { id = Model.DanhMucId })" class="btn btn-primary">Sửa</a>
            <a href="@Url.Action("Index")" class="btn btn-dark">Quay lại</a>
        </div>
    </div>
</section>

